
            
            body { /*dynamischer hintergrund*/
                
                background-image: url("../images/home.gif");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-attachment: fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; 
                text-align:center;
                
            }